:root{
    --main-color: #279EFF;
    --dark-color: #000;
    --dark2-color: #1E1E1E;
    --light-color: #fff;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3.section-h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    
}

h2{
    line-height: 1;
}

main{
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-disabled-link{
    cursor: not-allowed;
    
}

.a-disabled-link:hover{
    color: grey;
}