:root{
    --main-color: #279EFF;
    --dark-color: #000;
    --dark2-color: #1E1E1E;
    --light-color: #fff;
}

h1, h2, h3.section-h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    
}

main{
    
    width: 60rem;
}