
a, button{
    width: auto;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--main-color);
    transition: font-weight 0.3s ease, color 0.3s ease, text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
}

a:hover, button:hover{
    color: var(--main-color);
    text-decoration: none;
    font-weight: 400;
}

button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}