footer{
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 5rem;
}

.foot p{
    font-size: 14px;
}