@media (max-width: 1100px) {
    
    /* HEADER */
    main{
        width: 50rem;
    }

    .header-container{
        max-width: 35rem;
    }

    h1{
        font-size: 56px;
        margin-top: 1rem;
    }
    
    h1 span{
        font-size: 48px;
    }

    .header-text h2{
        font-size: 120px;
        line-height: 1.1;
    }

    h2.developer{
        font-size: 43px;
    }

    a{
        font-size: 16px;
    }

    /* PROEJCT */
    .project-card {
        width: 20rem;
    }

    .project-img-card{
        width: 20rem;
        height: 20rem;
    }
}



@media (max-width: 880px) {
    main{
        width: 40rem;
    }
}